<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Sobre esta app</span>
          </a>
          <p>Esta app tiene como proposito facilitar la gestion y conservación de la información en el departamento de ventas de productos de la marca LTH</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-6 footer-links">
          <h4>Navegación</h4>
          <ul>
            <li><a href="#" routerLink="/home">Inicio</a></li>
            <li><a href="#" routerLink="/usuarios" *ngIf="idRol == '1'">Usuarios</a></li>
            <li><a href="#" routerLink="/clientes" *ngIf="userAccedio == true">Clientes</a></li>
            <li><a href="#" routerLink="/consultar-precio" *ngIf="userAccedio == true">Precio al cliente</a></li>
            <li><a href="#" routerLink="/pedidos" *ngIf="userAccedio == true">Pedidos</a></li>
            <li><a href="#" routerLink="/baterias" *ngIf="userAccedio == true">Baterías</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contáctanos</h4>
          <p>
            Calle s/n <br>
            Mexico, Mexico
            <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

      </div>
    </div>

    <div class="container mt-4 text-center">
      <div class="copyright">
        © <strong><span>Todos los derechos reservados.</span></strong>
        <br>
        <strong><span>Aplicación desarrollado por Ángel de Jesús Pestaña Sánchez.</span></strong>
        <br>
        <strong><span>Ing. Tecnologías de la Información y Comuniciones.</span></strong>
      </div>
    </div>

  </footer>
