<app-header></app-header>

<section class="pt-0">
	<div class="container mt-5 mb-5">
		<div class="row">

			<!-- Main content START -->
			<div class="col-xl-12">
				<div class="card bg-transparent border rounded-3">
					<!-- Card header START -->
					<div class="card-header bg-transparent border-bottom">
						<div class="row">
							<div class="col">
								<h3 class="mb-0">Lista de clientes</h3>
							</div>
							<div class="col">
								<button type="button" class="btn-agregar float-end" (click)="obtenerClientesBase()">
									<i class="bi bi-arrow-repeat"></i>
								</button>
							</div>
						</div>
					</div>
					<!-- Card header END -->

					<!-- Card body START -->
					<div class="card-body">

						<!-- Search and select START -->
						<div class="row g-3 align-items-center justify-content-between mb-4">
							<!-- Content -->
							<div class="col-md-8">
								<form class="rounded position-relative" novalidate [formGroup]="formulario">
									<input class="form-control pe-5 bg-transparent" type="search" placeholder="Buscar"
										aria-label="Search" formControlName="busqueda">
									<button
										class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
										[disabled]="!formulario.valid" type="button"
										(click)="mostrarOtrosClientes2(urlBase + '/search')">
										<i class="bi bi-search"></i>
									</button>
								</form>
							</div>


							<div class="col-md-3 text-center">
								<!-- Aqui boton agregar -->
								<a href="#" class="btn-agregar w-100">Nuevo cliente</a>
							</div>
						</div>
						<!-- Search and select END -->

						<!-- Course list table START -->
						<div class="table-responsive border-0">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Local</th>
										<th scope="col">Propietario</th>
										<th scope="col">Encargado</th>
										<th scope="col">Telefono</th>
										<th scope="col">Direccion</th>
										<th scope="col">Municipio</th>
										<th scope="col">Estado</th>
										<th scope="col">Descuento 1</th>
										<th scope="col">Descuento 2</th>
										<th scope="col">Gestión</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let cliente of clientes">
										<th scope="row">{{cliente.id}}</th>
										<td>{{cliente.nombreLocal}}</td>
										<td>{{cliente.nombrePropietario}}</td>
										<td>{{cliente.nombreEncargado}}</td>
										<td>{{cliente.telefono}}</td>
										<td>{{cliente.direccion}}</td>
										<td>{{cliente.municipio}}</td>
										<td>{{cliente.estado}}</td>
										<td>{{cliente.porcentajeDescuento}} %</td>
										<td>{{cliente.porcentajeDescuento2}} %</td>
										<td>
											<a href="" class="btn btn-primary" data-bs-toggle="modal"
                            				data-bs-target="#staticBackdrop" (click)="entroEnGestion(cliente.id)">
                            					<i class="bi bi-pencil-square"></i>
                            				Gestión</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- Course list table END -->

						<!-- Pagination START -->
						<div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3"
							*ngIf="details != null">
							<!-- Content -->
							<p class="mb-0 text-center text-sm-start">Página {{details.currentPage}} de
								{{details.pageCount}}</p>
							<p class="mb-0 text-center text-sm-start">Hay un total de {{details.total}} registros</p>
							<!-- Pagination -->
							<nav class="d-flex justify-content-center mb-0" aria-label="navigation">
								<ul
									class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
									<li class="page-item mb-0 disabled" *ngIf="details.previous == null"><a
											class="page-link" href="#" tabindex="-1"><i
												class="bi bi-caret-left"></i></a></li>
									<li class="page-item mb-0" *ngIf="details.previous != null"><a class="page-link"
											(click)="mostrarOtrosClientes(details.previous)" tabindex="-1"><i
												class="bi bi-caret-left"></i></a></li>
									<!--Numeros-->
									<li class="page-item mb-0" *ngFor="let number of numbers">
										<a class="page-link {{paginaActiva(details.currentPage, number)}}"
											*ngIf="estaBuscando == false"
											(click)="mostrarOtrosClientes(urlBase+'?'+details.pageSelector+'='+number)">{{number}}</a>
										<a class="page-link {{paginaActiva(details.currentPage, number)}}"
											*ngIf="estaBuscando == true"
											(click)="mostrarOtrosClientes(urlBaseBusqueda+'/'+buscar+'?'+details.pageSelector+'='+number)">{{number}}</a>
									</li>
									<!--Fin Numeros-->
									<li class="page-item mb-0 disabled" *ngIf="details.next == null"><a
											class="page-link" href="#"><i class="bi bi-caret-right"></i></a></li>
									<li class="page-item mb-0" *ngIf="details.next != null"><a class="page-link"
											(click)="mostrarOtrosClientes(details.next)"><i
												class="bi bi-caret-right"></i></a></li>
								</ul>
							</nav>
						</div>
						<!-- Pagination END -->
					</div>
					<!-- Card body START -->
				</div>
			</div>
			<!-- Main content END -->
		</div> <!-- Row END -->
	</div>
</section>

<app-footer></app-footer>